* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.heading {
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading__logo {
  font-size: 4.7rem;
  color: #525ffb;
  font-weight: 600;
  margin-left: 10rem;
}

.heading__btn-box {
  margin-right: 5rem;
}

.btn {
  border-radius: 10rem;
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover {
  cursor: pointer;
}

.btn--outline {
  padding: 1.5rem 3.3rem 1.6rem 3.4rem;
  background-color: #fff;
  color: #525ffb;
  border: 2px solid #525ffb;
}

.btn--outline:hover {
  background-color: #525ffb;
  color: #fff;
  border: none;
}

.btn--filled {
  background-color: #525ffb;
  color: #fff;
}

.btn--filled:hover {
  -webkit-box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

.btn--filled:active {
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(0.2rem);
          transform: translateY(0.2rem);
}

.btn__text--outline {
  font-size: 1.5rem;
  font-family: muli, sans-serif;
  font-weight: 700;
  letter-spacing: 0.108rem;
  text-align: center;
}

.btn--filled {
  padding: 2.2rem 6.97rem 2.4rem 5.6rem;
  background-color: #525ffb;
  margin-right: 3rem;
}

.btn__text--filled {
  font-size: 2rem;
  width: 12rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.092rem;
  text-align: center;
  color: #fff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  margin: 15rem 0;
  padding: 0 10rem;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 50%;
  margin-top: 2rem;
}

.hero__header {
  color: #1e1c24;
  font-size: 6rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.39;
  letter-spacing: -0.049rem;
  text-align: left;
  width: 70rem;
  margin-bottom: 3rem;
}

.hero__text {
  margin-bottom: 5rem;
  font-family: Muli;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #b1aaaa;
}

.hero__img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transform: translateY(-8rem);
          transform: translateY(-8rem);
}

.try-free {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.try-free__input {
  width: 39.67rem;
  margin: 0 3.98rem 0 0;
  padding: 2.92rem 13.66rem 2.38rem 2.51rem;
  border-radius: 100px;
  border: solid 0.2rem #ebebeb;
}

.try-free__input::-webkit-input-placeholder {
  opacity: 0.36;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.08rem;
  text-align: left;
  color: rgba(30, 28, 36, 0.85);
}

.try-free__input:-ms-input-placeholder {
  opacity: 0.36;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.08rem;
  text-align: left;
  color: rgba(30, 28, 36, 0.85);
}

.try-free__input::-ms-input-placeholder {
  opacity: 0.36;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.08rem;
  text-align: left;
  color: rgba(30, 28, 36, 0.85);
}

.try-free__input::placeholder {
  opacity: 0.36;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.08rem;
  text-align: left;
  color: rgba(30, 28, 36, 0.85);
}

.service {
  margin: 15rem 0 30rem 0;
}

.service__header {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #1e1c24;
}

.service__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 1rem 15rem;
  gap: 3rem;
  height: 60rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: #1e1c24;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  height: 50rem;
  margin: 10px 20px;
  padding: 3rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card:hover {
  -webkit-box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-0.4rem);
          transform: translateY(-0.4rem);
}

.card__img {
  width: 80%;
}

.card__title {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  text-align: center;
  letter-spacing: normal;
  padding: 0 3rem;
}

.card__description {
  font-family: Muli;
  font-size: 1.6rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: center;
  margin: 5rem 0;
  padding: 0 3rem;
}

.card:nth-child(1) {
  background-color: #525ffb;
  color: #fff;
}

.card:nth-child(2) {
  background-color: #e9f0ff;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.card:nth-child(3) {
  background-color: #ffe7aa;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 5rem;
  margin: 25rem 0;
  padding: 0 10rem;
}

.container__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.container__img {
  width: 50%;
}

.container__header {
  font-size: 4rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  margin-bottom: 3rem;
}

.container__description {
  font-family: Muli;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: left;
  color: #b1aaaa;
}

.container__store-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  -webkit-transform: translateY(-10rem);
          transform: translateY(-10rem);
}

.trust-us {
  padding: 5rem 10rem;
  height: 60rem;
  position: relative;
}

.trust-us__header {
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #1e1c24;
}

.trust-us__number {
  font-size: 10rem;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.4;
  letter-spacing: 1.5rem;
  text-align: center;
  color: #525ffb;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.avatar {
  vertical-align: middle;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.avatar--lg {
  width: 10rem;
  height: 10rem;
}

.avatar--md {
  width: 7.5rem;
  height: 7.5rem;
}

.avatar--sm {
  width: 5rem;
  height: 5rem;
}

.avatar--top-right {
  position: absolute;
  right: 15rem;
  top: 10rem;
}

.avatar--top-left {
  position: absolute;
  left: 15rem;
  top: 12rem;
}

.avatar--middle-right {
  position: absolute;
  top: 45%;
  right: 30rem;
}

.avatar--middle-left {
  position: absolute;
  top: 50%;
  left: 30rem;
}

.avatar--bottom-right {
  position: absolute;
  bottom: 10rem;
  right: 15rem;
}

.avatar--bottom-left {
  position: absolute;
  bottom: 8rem;
  left: 15rem;
}

.fotter {
  padding: 5rem;
  height: 45rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fotter__header {
  font-size: 4rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  color: #1e1c24;
}

.fotter__description {
  font-family: Muli;
  font-size: 2rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #1e1c24;
}
/*# sourceMappingURL=style.css.map */