.heading-primary {
  color: $dark;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1.4;
  text-align: left;
  @include responsive(tab-port) {
    font-size: 5rem;
    text-align: left;
    padding-right: 5rem;
  }
  @include responsive(phone) {
    padding-right: 0;
    font-size: 4.5rem;
  }
}

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.33;
  @include responsive(tab-port) {
    font-size: 2.5rem;
    line-height: 1;
  }
}
.heading-tertiarya {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  color: $dark;
  text-align: center;
  @include responsive(tab-port) {
    font-size: 2rem;
  }
}

p.paragraph {
  font-family: Muli;
  font-size: 2rem;
  line-height: 1.75;
  color: $greyish;
  @include responsive(tab-port) {
    font-size: 1.8rem;
  }
}
